# Fichiers générés par Docker
**/Dockerfile
**/docker-compose.yml
**/.dockerignore

# Dossier des données OSRM (exclure les fichiers lourds, mais garder le dossier)
maps/*
!maps/.gitkeep

# Environnements virtuels Python
venv/
env/
.venv/

# Fichiers de configuration sensible
.env
*.env.local

# Fichiers de compilation Python
__pycache__/
*.pyc
*.pyo

# Fichiers d'IDE
.idea/
.vscode/

# Logs et fichiers temporaires
*.log
tmp/